body {
    background: #f8f9fa;
}

#logo img {
    width: 200px;
}

input {
    border: none;
    border-radius: 4px;
    box-shadow: 0 3px 6px #00000029;
    padding: 10px;
    height: 40px;
}

mb-4 {
    margin-bottom: 1.5rem !important
}

text-black {
    color: #000000;
}

#registrate {
    background-color: #8f98e9;
    height: 50px;
    border: none;
    align-items: center;
    display: inline-grid;
}

#registrate a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.toggle-password {
    float: right;
    cursor: pointer;
    margin-right: 10px;
    margin-top: -25px;
}

a#eye-off,
a#eye-off-confirm {
    position: absolute;
    right: 16px;
    height: 40px;
    border-radius: 0 4px 0px 4px;
}

.btn-google {
    background-color: #EA4335;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0;
}

.btn-facebook {
    background-color: #4267B2;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
}

button#IniciaSesion {
    background-color: #8f98e9;
    border-color: transparent;
    color: #ffffff;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.logoapp-avatar img {
    width: 100px !important;
}

.info-avatar {
    padding: 10px 0px;
    font-size: 16px;
}

[type=radio] {
    position: absolute;
    cursor: pointer;
  }
  
  [type=radio]:checked + span {
    color: white;
  }
  
  [type=radio] + img {
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
  
  [type=radio]:checked + img {
    border: 4px solid #8f98e9;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    opacity: 1;
  }
  
  .radio-container {
    display: flex;
  }

  

.avatar__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
    -webkit-padding-start: 0;
    list-style: none;
    margin: 0;
}

.avatar__container {
    flex-basis: 33%;
    margin: 15px 0;
}

.avatar__container label {
    display: block;
}

.avatar__input {
    display: none;
}

.avatar {
    border-radius: 100%;
    height: 82px;
    width: 82px;
    padding: 4px;
    display: flex;
    margin: auto;
    cursor: pointer;
    background: #8f98e952;
}

/** community**/

.community-section p {
    font-size: 16px;
    color: #7b7979;
    line-height: normal;
}

.initial-box{
    padding: 12px 18px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 3px 5px #dbdbdb;
}

.initial-box .title{
    color: #8f98e9;
    margin: 8px 0 4px 0;
    display: block;
}

.box-post{
    display: flex;
    background: #ececec;
    border-radius: 8px;
    padding: 16px 12px;
    margin-top: 20px;
    align-items: center
}

.box-post a>img{
        height: 40px;
        width: 40px;
        border-radius: 100%;
        background: #6f66ff;
    }

.publish{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e4e4ee;
    margin: 12px 0px;
    padding-top: 12px;
}

.publish-image, .publish-video{
    display: flex;
    align-items: center;
    padding: 8px 4px;
    font-size: 14px;
}

.publish-image .icon, .publish-video .icon{
    width: 18px;
}

.publish .btn{
    float: right;
    background: #8f98e9;
    display: inline-block;
    padding: 6px 12px;
    color: #fff;
    font-weight: 600;
    font-size: 14.8px;
}

.publish-user{
  display: flex;
  align-items: center;
}

.user{
    line-height: 1.2;
}

.publish-user .name{
    font-weight: 700;
    display: block;
}

.publish-user .date{
    color: #7b7979;
    font-size: 14px;
}

.photo-user a>img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: 12px;
    border: 1px solid #d9d9d9;
}

.box-interaction{
    border-top: 1px solid #d9d9d9;
    padding-top: 12px;
}

.box-interaction ul{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    margin-bottom: 8px;
}

.box-interaction span{
    color: #7b7979;
    font-size: 14px;
}

.box-interaction .icon{
    width: 14px;
    height: 14px;
    object-fit: contain;
    margin-right: 1px;
}

.numbers{
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.numbers .icon{
    width: 12px;
    height: 12px;
    object-fit: contain;
}

.float-interaction{
    display: flex;
    align-items: center;
}
.dropdown{
    text-align: right;
}

.dropdown select{
    background: #8f98e9;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 6px 12px;
    border: none;
    border-radius: 12px;
}

.dropdown span{
    text-transform: uppercase;
    font-size: 12px;
    color: #5364f9;
    font-weight: 600;
}